<label>
  <mat-form-field [appearance]="appearance" (click)="onLabelClicked()" class="base-datepicker">
    <mat-label *ngIf="placeholder">{{ placeholder }}</mat-label>
    <input
      matInput
      (dateChange)="handleDateChange($event)"
      [matDatepicker]="dp3"
      [formControl]="formControl"
      [placeholder]="placeholder"
      [required]="required"
      [min]="minDate"
      [max]="maxDate"
    />
    <mat-datepicker-toggle matSuffix [for]="dp3">
      <mat-icon matDatepickerToggleIcon svgIcon="calendar"></mat-icon>
    </mat-datepicker-toggle>

    <mat-datepicker touchUi #dp3="matDatepicker" disabled="false" [startView]="startViewMode" [startAt]="startDate">
      <mat-datepicker-actions>
        <button mat-flat-button color="primary" matDatepickerApply>Select</button>
        <button mat-stroked-button color="primary" matDatepickerCancel>Cancel</button>
      </mat-datepicker-actions>
    </mat-datepicker>

    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-error *ngIf="control?.invalid && errorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>
</label>
