@import "variables/modules/breakpoints";

.main {
  padding-bottom: 5rem;

  &__icon-button {
    display: block;
    color: var(--color-wireframe-4);
  }

  .organization {
    &__img {
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 4px;
      flex-shrink: 0;
      max-width: 100%;
      object-fit: contain;

      &_avatar {
        border-radius: 50%;
      }
    }

    &__noimg {
      width: 3rem;
      height: 3rem;
      color: var(--color-wireframe-4);
      flex-shrink: 0;
    }

    &__del {
      flex-shrink: 0;
      min-width: 2.4rem;
      width: 4rem;
      color: var(--color-wireframe-4);
      margin-left: auto;
      cursor: pointer;
    }

    &__icon {
      margin-right: 1rem;

      &.organization__icon_approved {
        &.mat-icon {
          width: 2rem;
          height: 2rem;
          color: var(--color-light-blue);
        }
      }

      &.organization__icon_canceled {
        &.mat-icon {
          color: var(--color-wireframe-4);
        }
      }

      &.organization__icon_pending {
        &.mat-icon {
          width: 2rem;
          height: 2rem;
          color: var(--color-orange);
        }
      }
    }

    @media (min-width: $tablet-s) {
      &__img {
        width: 7rem;
        height: 7rem;
      }

      &__noimg {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .profile-organizations {
    &__title {
      font-family: var(--ff-title-font);
      font-size: 2.4rem;
      line-height: 1.5;
      font-weight: var(--fw-semi-bold);
      margin: 6rem 0 2.1rem;
    }

    &__link {
      font-size: 1.4rem;
      color: var(--color-light-blue);
      font-weight: var(--fw-medium);
      font-family: var(--ff-title-font);
      cursor: pointer;
      align-self: center;
      padding: 0;
      min-height: auto;
      line-height: 1.5;

      &:disabled,
      &.mat-button-disabled {
        color: var(--color-wireframe-4);
      }
    }

    @media (min-width: $tablet-s) {
      &__title {
        margin: 3rem 0 2.1rem;
      }
    }

    @media (min-width: $desktop-m) {
      &__link {
        font-size: 1.6rem;
      }
    }
  }

  @media (min-width: $tablet-s) {
    margin-top: -2rem;

    &__icon-button {
      display: none;
    }
  }
}
