<div class="dialog">
  <div class="dialog__body">
    <h3 mat-dialog-title class="dialog__title">{{ data?.title | translate }}</h3>
    <p class="dialog__text" *ngIf="data?.message" [innerHTML]="data?.message | translate"></p>
    <div class="dialog__template" *ngIf="data?.template">
      <ng-container *ngTemplateOutlet="data.template; context: context"></ng-container>
    </div>
    <ng-container *ngIf="data?.component">
      <ng-container *ngComponentOutlet="data.component; injector: injector"></ng-container>
    </ng-container>
  </div>
  <modal-actions *ngIf="data?.actions" [actions]="data?.actions"></modal-actions>
</div>
