.mat-chip.mat-standard-chip {
  background: var(--color-wireframe-hover);
  color: var(--color-wireframe-3);
}

.full-width {
  width: 100%;
}

.chip-list-wrapper {
  min-height: 3em;
  padding-top: 2rem;
}
