@import "variables/modules/breakpoints";

:host {
  display: flex;
  align-items: center;
}

.profile-menu {
  margin-left: auto;

  &__username {
    display: none;
    max-width: 12rem;
    font-size: 1.6rem;
    color: var(--color-wireframe-3);
    font-weight: var(--fw-normal);
    margin-left: 0.8rem;
  }

  &__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    object-fit: cover;
  }

  &__item {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    line-height: 1.5;
    color: var(--color-wireframe-1);
    min-width: 14rem;
    padding: 0.7em 2rem 0.7em 1rem;
    text-decoration: none;

    &:hover {
      background: var(--color-wireframe-hover);
    }
  }

  &__item-text {
    .active & {
      font-weight: var(--fw-medium);
    }
  }

  &__icon {
    fill: var(--color-electric-blue);
    margin-right: var(--s-6);
  }

  &__item-icon {
    fill: var(--color-grey);
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.8em;
  }

  @media (min-width: $tablet-s) {
    &__username {
      display: block;
    }
  }
}

::ng-deep {
  .profile-menu {
    .dropdown {
      line-height: 4rem;
    }

    .dropdown__title {
      .dropdown__icon-wrap {
        margin-right: 0;
      }
    }
  }

  .profile-menu-panel {
    border-radius: 0;
    width: 28rem;
    box-shadow: 0 0 20px rgb(217 221 231 / 60%);
  }
}
