$desktop-m: 1366px;
$desktop-s: 1280px;
$tablet-l: 1024px;
$tablet-s: 768px;
$tablet-xs: 767px;
$mobile-m: 480px;

// BREAKPOINTS
:root {
  --desktop-m: 1366px;
  --desktop-s: 1280px;
  --tablet-l: 1024px;
  --tablet-s: 768px;
  --tablet-xs: 767px;
  --mobile-m: 480px;
}
