@import "variables/modules/breakpoints";

.resizable-dialog,
.change-password-dialog {
  .mat-dialog-container {
    padding: 0 1.5rem;
    height: 100vh;
    border-radius: 0;
  }

  @media (min-width: $mobile-m) {
    .mat-dialog-container {
      height: auto;
    }
  }
}

.dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 19.5rem;
  padding: 3rem 1.5rem;

  &__close-button.mat-icon-button {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__title {
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-title-font);
    font-size: 2.4rem;
    margin-bottom: 0;
    text-align: center;
    white-space: pre-wrap;

    &.mat-dialog-title {
      margin-bottom: 0;
    }
  }

  &__title + &__text {
    margin-top: 1.6rem;
  }

  &__text {
    font-weight: var(--fw-normal);
    font-size: 1.4rem;
    color: var(--color-wireframe-2);
    margin-bottom: 0;
    text-align: center;
    line-height: 1.5;
  }

  &__actions {
    justify-content: center;

    button:not(:last-child) {
      margin-right: 1.2rem;
    }
  }

  &__button {
    &.mat-flat-button {
      min-width: 15rem;
    }
  }

  &__text + &__actions {
    margin-top: 3.2rem;
  }

  @media (min-width: $mobile-m) {
    min-height: 19.5rem;
    padding: 6rem 3.7rem;
  }
}

.cdk-global-overlay-wrapper {
  .mat-dialog-container {
    padding: 0;
    border-radius: 0.4rem;
    min-width: 35rem;
  }

  .get-started-modal .mat-dialog-container {
    border: 2px solid var(--color-alice-blue);
  }
}

.change-password-dialog {
  .dialog__title {
    text-align: left;
    margin-bottom: 3rem;
  }
}

.share-dialog {
  .dialog__title.mat-dialog-title {
    text-align: left;
    margin-bottom: 3rem;
  }

  .modal-actions {
    &.mat-dialog-actions {

      margin-top: 0;
      justify-content: flex-start;

      .modal-actions__button {
        max-width: 15rem;
      }
    }
  }
}

.record-dialog {
  .dialog__title.mat-dialog-title {
    text-align: left;
    margin-bottom: 3rem;
  }

  .modal-actions {
    &.mat-dialog-actions {

      margin-top: 0;
    }
  }
}

.delete-account {
  .dialog__text {
    max-width: 34.5rem;
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
  }
}
