<div class="auth-form__validation-block">
  <p>{{ 'AUTH.PASSWORD_MUST' | translate }}</p>
  <ul class="auth-form__validation-list">
    <li
      class="auth-form__validation-list-item"
      [ngClass]="{
        'is-valid': isPassValid.minCharacters,
        'is-invalid': isPassInvalid.minCharacters
      }"
    >
      <mat-icon color="primary" [svgIcon]="'check-1'"></mat-icon>
      {{ 'AUTH.PASSWORD_MINLENGTH' | translate }}
    </li>
    <li
      class="auth-form__validation-list-item"
      [ngClass]="{
        'is-valid': isPassValid.oneUpperCase,
        'is-invalid': isPassInvalid.oneUpperCase
      }"
    >
      <mat-icon color="primary" [svgIcon]="'check-1'"></mat-icon>
      {{ 'AUTH.PASSWORD_UPPERCASE' | translate }}
    </li>
    <li
      class="auth-form__validation-list-item"
      [ngClass]="{
        'is-valid': isPassValid.oneDigit,
        'is-invalid': isPassInvalid.oneDigit
      }"
    >
      <mat-icon color="primary" [svgIcon]="'check-1'"></mat-icon>
      {{ 'AUTH.PASSWORD_DIGIT' | translate }}
    </li>
  </ul>
</div>
