@import "variables/modules/breakpoints";

.auth-form {
  &__validation-block {
    font-size: 1.4rem;
    margin: 1.5rem 0 3rem;
  }

  &__validation-list {
    display: block;
    margin: 1.5rem 0 0;
  }

  &__validation-list-item {
    display: block;
    margin: 0 0 1.5rem;

    .mat-icon {
      width: 1.3rem;
      height: 1rem;
      margin: 0 1rem 0 0;
    }

    &.is-invalid {
      .mat-icon {
        color: var(--color-red);
      }
    }

    &.is-valid {
      .mat-icon {
        color: var(--color-green);
      }
    }
  }

  @media (min-width: $tablet-s) {
    &__validation-block {
      font-size: 1.6rem;
    }

    &__subtitle {
      max-width: 25rem;
      margin: 0 auto;
    }
  }
}
