<div class="notification">
  <div class="notification__image-wrap">
    <mat-icon class="notification__image" [svgIcon]="image"></mat-icon>
  </div>
  <div class="notification__content">
    <h3 class="notification__heading">{{ data.heading }}</h3>
    <p class="notification__message">{{ data.message }}</p>
  </div>
  <button class="notification__close" mat-icon-button (click)="close()">
    <mat-icon svgIcon="cross"></mat-icon>
  </button>
  <a class="notification__link" (click)="close()" *ngIf="data.url" [routerLink]="data.url"></a>
</div>
